*
!cookiecutter_microcosm_sagemaker
cookiecutter_microcosm_sagemaker/tests
!dist/*-none-any.whl
!entrypoint.sh
!rds_dump_to_s3.sh
!MANIFEST.in
!README.md
!requirements.txt
!setup.py
!setup.cfg
**/*.pyc
**/*~

